<h2>Employee List</h2>
<button routerLink="/add-employee">Add Employee</button>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Salary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <button routerLink="/update-employee/{{employee.id}}">Update</button>
        <button routerLink="">View</button>
        <button (click)="deleteEmployee(employee.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
